/* -------------------------------------------------- */
/* GAUGE
/* -------------------------------------------------- */

// OPTIONS
$gauge-options: (
	text-color: $white,
	foreground-color: $secondary,
	background-color: $accent,
	foreground-size: 6,
	background-size: 4,
	duration: 800ms,
	delay: 0ms,
	ease: $easeNatural
);


// MAIN
.gauge {

	margin: 0 auto;
	padding: 0;
	width: 75px;
	height: 75px;

	&-cluster {

		&-text {
			font: {
				family: $headline;
				size: 1.25em;
			}
			fill: map-get($gauge-options, text-color);
		}

		&-foreground {
			stroke: map-get($gauge-options, foreground-color);
			stroke: {
				dasharray: none;
				width: map-get($gauge-options, foreground-size);
			}
			fill: none;
		}

		&-background {
			width: 100%;
			height: 100%;
			stroke: map-get($gauge-options, background-color);
			stroke-width: map-get($gauge-options, background-size);
			fill: none;
		}

	}

}


// MODIFIERS
.gauge {

	$self: &;

	#{$self}-element {
		
	}

	&.is-ready {

	}

	&.is-top {

	}

	&.is-not-top {

	}

	&.is-bottom {

	}

	&.is-not-bottom {

	}

	&.is-scrolling-up {

	}

	&.is-scrolling-down {

	}

}
