/* -------------------------------------------------- */
/* GRAYSCALE DISPLACEMENT
/* -------------------------------------------------- */

// OPTIONS
$grayscale-displacement-options: (

);


// MAIN
.grayscale-displacement {

	$self: &;

	overflow: hidden;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//min-height: 100vh;

	&-container {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: {
			left: auto;
			right: auto;
		}
		//width: 100%;
		height: 100vh;
	}

	&-plane {

		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: {
			left: auto;
			right: auto;
		}
		width: 100vw;
		height: 100vh;

	}

	&-plane canvas, &-plane img {
		display: none;
	}

	// Handling WebGL context errors.
	.no-webgl &-plane {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.no-webgl &-plane img {
		display: block;
		object-fit: cover;
		min-width: 100%;
		min-height: 100%;
	}
	
}
