/* -------------------------------------------------- */
/* TEXT BLOCK
/* -------------------------------------------------- */

// OPTIONS
$text-block-options: (
	duration: 250ms,
	delay: 0,
	ease: $easeNatural
);


// MAIN
.text-block {

	position: relative;
	padding: {
		top: $gutter;
		right: $gutter;
		bottom: $gutter;
		left: $gutter;
	}
	//width: 50%;
	//background: $white;
	//mix-blend-mode: lighten;

	> h1, > h2, > h3, > h4, > h5, > h6, .headline {
		padding: 0;
		word-wrap: normal;
	}

	> p {

		padding: 0;
		white-space: normal;

		&:not(:first-child):not(:last-child) {
			margin-bottom: 4rem;
		}

		/*
		&:last-of-type {
			padding-bottom: 4rem;
			border-bottom: thin dotted $gray;
		}
		*/

	}

	> button, .button {

		width: 100%;
		max-width: 300px;

		@include break($min: 0, $max: $mobile, $orientation: 'both') {
			width: 100%;
			max-width: 100%;
		}

	}

	@include break($min: 0, $max: $tablet, $orientation: 'portrait') {
		width: 100%;
	}

	@include break($min: 0, $max: $mobile, $orientation: 'both') {
		width: 100%;
	}

}
