/* -------------------------------------------------- */
/* HEADLINE
/* -------------------------------------------------- */

// OPTIONS
$headline-options: (
	duration: 800ms,
	delay: 0ms,
	ease: $easeWipe
);


// MAIN
.headline {

	padding: {
		top: 0;
		right: $gutter;
		bottom: 0;
		left: $gutter;
	}
	color: $secondary;
	font: $headline;
	font-size: 1.75em;
	//font-size: 5vw;
	letter-spacing: 0.05em;
	line-height: 0.875em;
	margin-bottom: 2rem;
	text-transform: normal;

	&-title {
		overflow: hidden;
		//display: block;
	}

	&-subtitle {
		display: block;
		position: relative;
		padding-bottom: 1rem;
		color: $secondary;
		font-size: 0.5em;
		letter-spacing: 0.125em;
		line-height: 1em;
	}
	
	/*
	@include break($min: 0, $max: $mobile, $orientation: 'portrait') {
		font-size: 2.5em;
	}
	*/

}
